<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:persistence.properties</value>
      </list>
    </property>
    <property name="ignoreResourceNotFound" value="true"/>
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
  </bean>
             
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${jpa.driverClassName}"/>
    <property name="url" value="${jpa.url}"/>
    <property name="username" value="${jpa.username}"/>
    <property name="password" value="${jpa.password}"/>
  </bean>
  
  <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="persistenceUnitName" value="openjpaAzureSamplePersistenceUnit"/>
    <property name="dataSource" ref="dataSource"/>
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.OpenJpaVendorAdapter">
        <property name="showSql" value="true"/>
        <property name="generateDdl" value="true"/>
        <property name="databasePlatform" value="${jpa.dictionary}"/>
      </bean>
    </property>
    <property name="jpaPropertyMap">
      <map>            
        <entry key="openjpa.NontransactionalWrite" value="false"/>
        <entry key="openjpa.AutoDetach" value="close, commit, nontx-read, rollback"/>
                
        <entry key="openjpa.ReadLockLevel" value="none"/>
        <entry key="openjpa.WriteLockLevel" value="write"/>
        <entry key="openjpa.LockTimeout" value="30000"/>
                                
        <entry key="openjpa.QueryCache" value="true"/>
        <entry key="openjpa.DataCache" value="true" />
        <entry key="openjpa.QueryCompilationCache" value="true" />
        <entry key="openjpa.RemoteCommitProvider" value="sjvm"/>
        
        <entry key="openjpa.Log" value="DefaultLevel=INFO, Runtime=TRACE, Tool=TRACE, SQL=TRACE"/>

        <!-- OpenJPA-Azure specific -->
        <entry key="openjpa.BrokerFactory" value="azure"/>
        <entry key="openjpa.BrokerImpl" value="org.apache.openjpa.azure.kernel.AzureBroker"/>
        
        <entry key="openjpa.SynchronizeMappings" value="buildSchema(ForeignKeys=true,SchemaAction='add')"/>

        <entry key="openjpa.azure.PerformUseFederation" value="true"/>

        <entry key="openjpa.azure.Federations" value="FED_1" />
        <entry key="openjpa.azure.FED_1.RangeMappingType" value="BIGINT" />
        <entry key="openjpa.azure.FED_1.Tables" value="Person" />
        <entry key="openjpa.azure.FED_1.Person.RangeMappingName" value="id" />
        
        <entry key="openjpa.slice.Names"   value="ROOT,FED_1.0,FED_1.1"/>
        <entry key="openjpa.slice.Master"  value="ROOT"/>
        <entry key="openjpa.slice.Lenient" value="false"/>
        
        <entry key="openjpa.slice.DistributionPolicy" value="org.apache.openjpa.azure.AzureDistributionPolicy"/>
        <entry key="openjpa.slice.QueryTargetPolicy" value="org.apache.openjpa.azure.AzureQueryTargetPolicy"/>
        <entry key="openjpa.slice.FinderTargetPolicy" value="org.apache.openjpa.azure.AzureFinderTargetPolicy"/>
        <entry key="openjpa.slice.ReplicationPolicy" value="org.apache.openjpa.azure.AzureReplicationPolicy"/>
        
        <entry key="openjpa.slice.ROOT.ConnectionURL" value="${jpa.url}"/>
        <entry key="openjpa.slice.ROOT.ConnectionDriverName" value="${jpa.driverClassName}"/>
      
        <entry key="openjpa.slice.FED_1.0.ConnectionURL" value="${jpa.url}"/>
        <entry key="openjpa.slice.FED_1.0.ConnectionDriverName" value="${jpa.driverClassName}"/>
        
        <entry key="openjpa.slice.FED_1.1.ConnectionURL" value="${jpa.url}"/>
        <entry key="openjpa.slice.FED_1.1.ConnectionDriverName" value="${jpa.driverClassName}"/>
      </map>
    </property>
  </bean>
    
  <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>
    
  <tx:annotation-driven/>
  <context:component-scan base-package="org.apache.openjpa.azure.sample.persistence"/>

  <bean id="wicketApplication" class="org.apache.openjpa.azure.sample.web.OpenJPAAzureSampleWebApplication"/>
</beans>
